mixin CSS(dev, pro)
    if (NODE_ENV == "development")
        each d in dev 
            link(rel="stylesheet", href=config.STATIC_CDN + d)
    else
        each p in pro 
            link(rel="stylesheet", href=config.STATIC_CDN + p)
mixin JS(dev, pro)
    if (NODE_ENV == "development")
        each d in dev 
            script(type="text/javascript", src=config.STATIC_CDN + d)
    else
        each p in pro 
            script(type="text/javascript", src=config.STATIC_CDN + p)
